@import "../../../../styles/abstracts/mixins";

$login-sections-max-width: 480px;

.login-section {
  margin: 1.3rem auto;
  padding: 0 1.3rem;
  max-width: $login-sections-max-width;

  .event-selection {
    display: block;
  }

  .login {
    margin-bottom: 2rem;

    .login-input {
      width: 100%;
      @include byor-input;
    }

    label {
      display: block;
      margin-bottom: .3rem;
    }
  }

  .button-text {
    color: #ffffff;
  }

}


.login-title {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  
    h2 {
      font-size: 48px;
      line-height: 1em;
      letter-spacing: -.06em;
      font-weight: 400;
      display: block;
      padding: 0;
      margin: 25px 0;
      text-transform: uppercase;
    }
  }