<span class="title">{{appSession.getSelectedTechnology().name}}</span>
<div *ngIf="errorMessage" class="conversation-message" [innerHTML]="errorMessage"></div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- this is the tree node which shows the content of an existing comment which has no children -->
  <mat-tree-node *matTreeNodeDef="let node; when: !hasChild" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <byor-comment-card class="comment" [title]="getTitle(node)" [timestamp]="getTimestamp(node)" 
      [showAddReplyButton]="showAddReplyButton()" [text]="node.text" (addNewItemClicked)="addNewItem(node)">
    </byor-comment-card>
  </mat-tree-node>

  <!-- this is the tree node which shows the content of an existing comment which has children - in this case
  the expand toggle button is shown -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <byor-comment-card class="comment" [title]="getTitle(node)" [timestamp]="getTimestamp(node)" 
      [showAddReplyButton]="showAddReplyButton()" [text]="node.text" (addNewItemClicked)="addNewItem(node)">
    </byor-comment-card>
  </mat-tree-node>

  <!-- this is the tree node which is shown when a comment has no content, i.e. when a new empty comment is added
  for the user to fill it with some text  -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <mat-form-field class="new-comment">
      <input matInput #commentText placeholder="New comment...">
    </mat-form-field>
    <button mat-button (click)="saveComment(node, commentText.value)">Save</button>
    <button mat-button (click)="cancelComment(node)">Cancel</button>
  </mat-tree-node>

</mat-tree>
  