.comment {
    margin: 20px;
    width: 90%;
    background-color: lightgray;
}

.new-comment {
    margin: 20px;
    width: 90%;
}

.comment-card {
    background-color: beige;
}

.title {
    font-weight: bold;
    padding: 20px;
}

.conversation-message {
    color: darkred;
}