:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
  padding: 1.3rem;
  flex-shrink: 0;
  background-color: #808285;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;

  a, a:active, a:hover, a:visited, a:link {
    color: #fff;
    border-bottom-color: #fff;
  }
}
