#!/bin/bash

# aws
export AWS_SERVICE_STAGE=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION=eu-west-1

# mongodb
# db maintenance
export MONGO_HOME=<path to local mongo installation>
export MONGO_HOST=<host string, in case of clusters use something like 'Cluster0-shard-0/<first cluster address>:27017,<others>'
export MONGO_USER=
export MONGO_PWD=
export MONGO_AUTH_DB=admin
# app connection
export MONGO_DB_NAME=byorDev
export MONGO_URI=mongodb://mongo/
