<mat-card class="recommnedation-card">
  <mat-form-field class="recommnedation-text">
    <textarea matInput #recommendationText placeholder="{{placeholderText}}" value="{{getRecommendationTextSelectedTech$() | async}}"></textarea>
  </mat-form-field>
  <!-- <mat-card-actions>
    <button mat-icon-button *ngIf="showConfirmButton$ | async" (click)="confirmRing()">Save</button>
  </mat-card-actions> -->
</mat-card>

<!-- <div *ngIf="message$ | async as message" class="message" [innerHTML]="message"></div> -->