<header>
  <div class="vote-cloud-title">
    <div class="vote-cloud-title__text">
      <h2>
        <button mat-icon-button color="basic" aria-label="go back" (click)="goBack()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        {{(eventName$ | async)}}</h2>
    </div>
  </div>
  <div class="ring-buttons">
    <button *ngFor="let ring of rings"
            class="ring-button"
            (click)="ringSelected(ring)"
            [class.selected-ring]="isRingSelected(ring)"
            mat-flat-button color="accent">
      {{ring | uppercase}}
    </button>
  </div>
</header>
<div class="word-cloud"></div>
