<div class="nickname-section">
  <div>
    <span class="event-label">Voting for event: <strong>{{appSession.getSelectedVotingEvent()?.name}}</strong></span>
  </div>
</div>
  
<div class="nickname-section">
  <div class="nickname">
    <label>Nickname</label>
    <input #nickname type="text" class="nickname-input" id="nickname">
  </div>

  <div class="form-actions">
    <button #startButton mat-flat-button color="accent" [class.button-disabled]="!(isValidInputData$ | async)"
      [class.button-enabled]="(isValidInputData$ | async)" [disabled]="!(isValidInputData$ | async)">
      <span class="button-text"> Start Session </span>
    </button>
  </div>

  <div *ngIf="message$ | async as message" class="message" [innerHTML]="message"></div>

</div>
<div class="banner-section">
  <a [href]="(configuration$ | async)?.bannerTargetUrl" target="_blank"><img
      [src]="(configuration$ | async)?.bannerImageUrl"></a>
</div>