<div>
  <div *ngIf="messageVote" class="vote-message" [innerHTML]="messageVote"></div>
</div>

<byor-technology-list #techList></byor-technology-list>

<div class="votes-information" *ngIf="votes.length > 0">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="54px" expandedHeight="54px">
        <mat-panel-title>
          <span [matBadge]="votes.length" matBadgeOverlap="false" matBadgeColor="accent">Votes</span>
        </mat-panel-title>
        <mat-panel-description>
          <a mat-flat-button (click)="viewVoteCloud()" class="panel-button external-links" *ngIf="votesHaveBeenAlreadySaved">Word Cloud</a>
          <!-- <a mat-flat-button (click)="viewRadarForSelectedEvent()" class="panel-button external-links" *ngIf="votesHaveBeenAlreadySaved">Tech Radar</a> -->
          <button mat-flat-button (click)="saveVotes()" color="accent" class="panel-button">{{getSaveButtonName()}}</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let ring of rings" class="selection-list">
        <div *ngIf="getVotesByRing(ring).length">
          <h5>{{ ring  | uppercase }}:</h5>
          <mat-chip-list>
            <mat-chip [ngClass]="getClassForQuadrant$(vote.technology.quadrant) | async" class="vote-chip"
              *ngFor="let vote of getVotesByRing(ring)" (removed)="removeVote(vote)">
              <span>{{ vote.technology.name }}</span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>